<a href="https://colab.research.google.com/github/laura-katiuscia/2-Projeto/blob/master/An%C3%A1lises_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Para garantir que executará sql precisa instalar ipython-sql
!pip install ipython-sql

In [ ]:
# Carrefa módulo sql
% load_ext sql

In [ ]:
# Coloca uma string de conexão
% sql sqlite: //

In [ ]:
import sqlalchemy

In [ ]:
#sqlite usa somente uma parte do arquivo invés usar ele todo
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [ ]:
#import banco de dados
import sqlite3

In [ ]:
#cria uma conecção banco de dados sqlite, senão existir ele cria
con = sqlite3.connect('escola.db')

In [ ]:
type (con)

In [ ]:
#criando um cursor que permite percorrer todo registro do bd
cur = con.cursor()

In [ ]:
#cria uma instrução usando comando DDL
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [ ]:
#Executando a instrução sql no cursor
cur.execute(sql_create)

In [ ]:
sql_insert = 'insert into cursos values (?, ?, ?)'

In [ ]:
# Inserindo valores na tabela
recset = [(100,'ciencia', 'não vou'),
(101, 'aprender','gente'),
(102, 'sem','noção'),
(103, 'construir','frase')]

In [ ]:
cur.execute("SELECT * FROM cursos")
print(cur.fetchall())

In [ ]:
# Inserindo os registros
for rec in recset:
 cur.execute(sql_insert, rec)

# Nova seção