<a href="https://colab.research.google.com/github/laura-katiuscia/2-Projeto/blob/master/Machine_Learning_com_Analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Entendo conceito de Pipeline com Python para Machine Learning (e um conceito que

# pode ser usada nas ling. Java, Python etc..Ela come√ßa antes DATALAKE E DATAHOUSE).

# üìå Pipeline simples (fun√ß√µes em sequ√™ncia)
def limpar_dados(dados):
    return [x for x in dados if x is not None]

def normalizar(dados):
    max_val = max(dados)
    return [x / max_val for x in dados]

def treinar_modelo(dados):
    print("Treinando modelo com:", dados)

# Pipeline
dados = [10, 20, None, 30]
dados = limpar_dados(dados)
dados = normalizar(dados)
treinar_modelo(dados)

#üìå Ideia-chave: sa√≠da de uma fun√ß√£o vira entrada da pr√≥xima.

In [ ]:
# Carregar arquivo colab
from google.colab import files
uploaded = files.upload()

In [ ]:
# l√™ o arquivo j√° carregado ‚úîÔ∏è Muito usado quando voc√™ quer limitar leituras de arquivos grandes.
from itertools import islice

with open('producao_alimentos.csv', 'r') as f:
    for linha in islice(f, 6):
        print(linha, end='')

In [ ]:
#Essa parte toda mas segunda parte do c√≥digo serve para testar a conectividade
import csv
import sqlite3

#Cria novo banco de dados
conn = sqlite3.connect('dsadb.db')

# Adiciona esta linha para dropar a tabela se ela j√° existir
conn.execute('DROP TABLE IF EXISTS producao')

#Cria tabela para armazenar dos dados do arquivo producao_alimentos.csv
conn.execute('''CREATE TABLE producao (
            produto TEXT,
            quantidade INTEGER,
            preco_media REAL,
            receita_media REAL
)''')
conn.commit()
conn.close()

In [ ]:
#abre o arquivo CSV com os dados de produ√ß√£o de alimentos
with open('producao_alimentos.csv', 'r') as file:

#Cria um leitor de CSV para ler o arquivo
  reader = csv.reader(file)

  # pula primeira linha que cont√©m os cabe√ßalhos das colunas
  next (reader)

  #Conecta ao banco de dados
  conn = sqlite3.connect('dsadb.db')


  for row in reader:

      conn.execute('INSERT INTO producao (produto, quantidade, preco_media, receita_media) VALUES (?, ?, ?, ?)', row)


  conn.commit()
  conn.close()

  print("Job Conclu√≠do com Sucesso!")

In [ ]:
#Esse c√≥digo foi feito para responder o que foi pedido carrega somente quantidade
#prouzida maior que 10 da coluna quantidade_produzida_kls  OBS: Essa atividade
#JOB_V3.PY QUE E TRANSFORMA√á√ÉO DOS DADOS.
import csv
import sqlite3

# Fun√ß√£o para remover o ponto nos dados da √∫ltima coluna
def remove_ponto(valor):
    return int(valor.replace('.', '')) #Essa fun√ß√£o usa replace que indetifica
    #ponto e substitui por virgula e no final converte para n√∫mero inteiro.

# Abre o arquivo CSV com os dados da produ√ß√£o de alimentos
with open('producao_alimentos.csv', 'r') as file:

    # Cria um leitor de CSV para ler o arquivo
    reader = csv.reader(file)

    # Pula a primeira linha, que cont√©m os cabe√ßalhos das colunas
    next(reader)

    # Conecta ao banco de dados
    conn = sqlite3.connect('dsadb.db')

    # Deleta a tabela existente, se houver
    conn.execute('DROP TABLE IF EXISTS producao')  #Aula Pr√°tica 04, TRANSFORMA√á√ÉO
    # DE DADOS, tirou os pontos que n√£o aparecia a casa decimal dos zeros dos valores.

    # Cria uma nova tabela para armazenar os dados de produ√ß√£o de alimentos
    conn.execute('''CREATE TABLE producao (
                    produto TEXT,
                    quantidade INTEGER,
                    preco_medio REAL,
                    receita_total INTEGER,
                    margem_lucro REAL
                )''')

    #AQUI NO EXECUTE E DIFEREN√áA DO EXERCICIO 03 PARA 04 ONDE S√ì ACRESCENTA coluna
    # com nome margem_lucro com resultado das colunas existentes que fez calculo

    # Insere cada linha do arquivo com quantidade maior que 10 na tabela do banco de dados
    #Aqui mant√™n a regra de neg√≥cio
    for row in reader:
        if int(row[1]) > 10:

            # Remove o ponto do valor da √∫ltima coluna e converte para inteiro
            row[3] = remove_ponto(row[3]) #√πltima linha que e receita_total e
            #chama fun√ß√£o criada com nome remove_ponto

            margem_lucro = (row[3] / float(row[1])) - float (row[2]) # Calculo 1¬∫ subtrai linha 1 menos a linha 2
            #row.append(margem_lucro)

            # Insere o registro no banco de dados sendo que margem de lucro n√£o existe na origem isso deixa ele pronto pra uso
            #coluna margem e pra colocar resultado das colunas j√° existentes
            conn.execute('INSERT INTO producao (produto, quantidade, preco_medio, receita_total, margem_lucro) VALUES (?, ?, ?, ?, ?)', (row[0], row[1], row[2], row[3], margem_lucro))

    conn.commit()
    conn.close()

print("Job Conclu√≠do com Sucesso! Para v√™ o resultado abra no ")